            <div class="menuLeftMenu">
                <a href="#" class="menuLeftIcon">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <div>

                </div>
            </div>
            <div class="menuLeftIcons">
                <div class="menuLeftIconsHome"> 
                    <a class="material-icons">home</a>
                    <div class="text"></div>
                </div>
                <div class="menuLeftIconspPerm_identity">
                    <a class="material-icons">perm_identity</a>
                </div>
                <div class="menuLeftIconspFormat_list_bulleted">
                    <a class="material-icons">format_list_bulleted</a>
                </div>
                <div class="menuLeftIconspChat_bubble_outline">
                    <a class="material-icons">chat_bubble_outline</a>
                </div>
                <div class="menuLeftIconspWork">
                    <a class="material-icons">work</a>
                </div>
                <div class="menuLeftIconspCode">
                    <a class="material-icons">code</a>
                </div>
                <div class="menuLeftIconspschool">
                    <a class="material-icons">school</a>
                </div>
                <div class="menuLeftIconspEmail">
                    <a class="material-icons">email</a>
                </div>           

                <a href="#" class="menuLeftIcon"></a>
                <a href="#" class="menuLeftIcon"></a>
            </div>
            <div class="menuLeftLanguage">
                <i class="material-icons">language</i>
            </div>